@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Kosugi Maru', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

#log_container {
    display: flex;
    flex-direction: column;
    width: 240px;
    max-height: 100px;
    overflow: auto;
    display: none;
}

#log_container li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#log_container li:last-of-type {
    border-bottom: none;
}

.row {
    display: flex;
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
}

.board {
    border: 1px solid #ddd;
    align-self: center;
    order: 2;
}

.board .row {
    border-bottom: 1px solid #ddd;
}

.board .row:first-of-type {
    background-color: rgba(255,0,0,0.05);
}

.board .row:last-of-type {
    background-color: rgba(0,0,255,0.05);
}

.board .row:last-of-type {
    border-bottom: none;
}

.board .row .cell {
    border-right: 1px solid #ddd;
}

.board .row .cell:last-of-type {
    border-right: none;
}

.board .row .cell::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    opacity: 0.05;
    z-index: -1;
}

.board .row:nth-of-type(1) .cell:nth-of-type(1)::after { content: 'A1' }
.board .row:nth-of-type(1) .cell:nth-of-type(2)::after { content: 'A2' }
.board .row:nth-of-type(1) .cell:nth-of-type(3)::after { content: 'A3' }
.board .row:nth-of-type(2) .cell:nth-of-type(1)::after { content: 'B1' }
.board .row:nth-of-type(2) .cell:nth-of-type(2)::after { content: 'B2' }
.board .row:nth-of-type(2) .cell:nth-of-type(3)::after { content: 'B3' }
.board .row:nth-of-type(3) .cell:nth-of-type(1)::after { content: 'C1' }
.board .row:nth-of-type(3) .cell:nth-of-type(2)::after { content: 'C2' }
.board .row:nth-of-type(3) .cell:nth-of-type(3)::after { content: 'C3' }
.board .row:nth-of-type(4) .cell:nth-of-type(1)::after { content: 'D1' }
.board .row:nth-of-type(4) .cell:nth-of-type(2)::after { content: 'D2' }
.board .row:nth-of-type(4) .cell:nth-of-type(3)::after { content: 'D3' }

.cell.red {
    color: red;
}

.cell.blue {
    color: blue;
}

.cell.selected .unit{
    box-shadow: 2px 2px 3px #aaa;
}

.cell.blue.selected::before {
    z-index: 99;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0,0,255, 0.3);
}

.cell.red.selected::before {
    z-index: 99;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255,0,0, 0.3);
}

.cell.can-move,
.cell.can-kill {
    cursor: pointer;
}

.cell.can-move::before {
    z-index: 99;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid #28ce8c; */
    background-color: rgba(0,255,0, 0.1) !important;
}

.cell.can-kill::before {
    z-index: 99;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid #f44c1e; */
    background-color: rgba(0,255,0, 0.1) !important;
}

.cell .unit {
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px #ddd;
}

.cell .unit:hover {
    box-shadow: 2px 2px 3px #aaa;
}

.other-board {
    border: 1px solid #ddd;
    display: flex;
}

.other-board.red {
    order: 1;
    margin-bottom: 20px;
}

.other-board.blue {
    order: 3;
    margin-top: 20px;
}

.other-board .cell {
    width: 40px;
    height: 40px;
    border-right: 1px solid #ddd;
}

.other-board .cell:last-of-type {
    border-right: none;
}

.msg-box {
    font-size: 24px;
    padding: 20px 0;
}

.restart-btn {
    padding: 10px;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}